<launch>

  <arg name="robot" default="orcvio_robot"/>
  <arg name="fixed_frame_id" default="world"/>

  
  <!-- evaluation mode is used to compare the results of different flags -->
  <arg name="evaluation_mode" default="false" />

  <arg name="image_topic" default="/camera/infra1/image_rect_raw" />
   
  <node name="orcvio_mapping" pkg="orcvio_mapping" 
     type="orcvio_mapping_node" output="screen" >

          <param name="fixed_frame_id" value="$(arg fixed_frame_id)"/>

          <!-- camera extrinsics -->
          <rosparam param="T_cam_imu">
              [
              0.9999887972997616, 0.004225660403089795, -0.002132854691210053, -0.06510852338269565, 
              -0.004224561368945015, 0.9999909415437157, 0.0005195303196076303, -0.004589801762755343, 
              0.0021350307295388425, -0.0005105141239311359, 0.9999975905066537, -0.01765349149011269, 
              0.0,  0.0, 0.0, 1.0
              ]
          </rosparam>

          <!-- bag topics -->
          <param name="topic_bbox"  type="string" value="/SortRos/tracked_bbox" />

          <param name="topic_image"  type="string" value="$(arg image_topic)" />
          <param name="topic_caminfo"  type="string" value="/camera/infra1/camera_info" />          
          <param name="topic_pose"  type="string" value="/firefly_sbx/vio/posestamped" />

          <param name="max_object_feature_track"             type="int"    value="50" />
          <param name="min_object_feature_track"               type="int"    value="10" />

          <!-- object feature -->
          <rosparam command="load" file="$(find orcvio_mapping)/config/object_feat_erl.yaml"/>
          <param name="load_gt_object_info_flag"  type="bool" value="false" />

          <param name="to_color_image_flag"  type="bool" value="true" />
          
          <param name="use_unity_dataset_flag"  type="bool" value="false" />


          <!-- this has to be consistent with VIO config  -->
          <param name="use_left_perturbation_flag"  type="bool" value="false" />
          <param name="use_new_bbox_residual_flag"  type="bool" value="true" />
          <param name="min_dist_btw_objects"  type="double" value="0.5" />
          <param name="max_dist_btw_cam_obj"  type="double" value="5.0" />
          
  </node>

</launch>
